DATABASE_URL="mysql://root:@localhost:3306/newludo_db"
NEXTAUTH_SECRET="replace-with-secure-secret"
NEXTAUTH_URL="http://localhost:3000"

# MIDTRANS CONFIGURATION (LOCAL / SANDBOX)
MIDTRANS_SERVER_KEY="SB-Mid-server-xxxxxxxxxxxxxxxxxxxxxxxx"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="SB-Mid-client-xxxxxxxxxxxxxxxx"
MIDTRANS_IS_PRODUCTION="false"
MIDTRANS_APP_URL="https://app.sandbox.midtrans.com"
MIDTRANS_API_URL="https://api.sandbox.midtrans.com"


# SERVER PRODUCTION
# DATABASE_URL="mysql://root:password@localhost:3306/newludo_db"
# NEXTAUTH_SECRET="replace-with-secure-secret"
# NEXTAUTH_URL="https://sportsbar.ludo.co.id"
# NEXT_PUBLIC_SITE_URL="https://sportsbar.ludo.co.id"
# MIDTRANS_SERVER_KEY="Mid-server-xxxxxxxxxxxxxxxxxxxxxx"
# NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="Mid-client-xxxxxxxxxxxxxxxx"
# MIDTRANS_IS_PRODUCTION="true"
# MIDTRANS_API_URL="https://api.midtrans.com"
# MIDTRANS_APP_URL="https://app.midtrans.com"
